nav {
    position: fixed;
    background-color: black;
}

nav a {
    color: white!important;
}

nav a img {
    width: 100px;
    height: 70px;
    border-radius: 20px;
}

#background{
    width: 100vw;
    height: 100vh;
    background-attachment: fixed!important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    position: absolute;
    position: fixed;
}

.conteudo img {
    width: 40vw;
    height: 35vh;
    border-radius: 50px;
    size: cover;
}

.titulo {
    text-align: center;
    color: yellow;
    font-weight: bold;
    text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000, 0 0 0.2em #000000;
    margin-bottom: 20px;
}

.paragrafo {
    text-align: center;
    color: black;
}


footer {
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 30px;
    padding: 15px 0;
}

footer p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}